@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("@catppuccin/highlightjs/css/catppuccin-mocha.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-weight: 100 1000;
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 100 1000;
  src: url("./assets/fonts/Inconsolata-VariableFont_wdth,wght.woff2") format("woff2");
}

html {
  -webkit-tap-highlight-color: transparent;
}

* {
  @apply focus:outline-none;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-ctp-crust/50;
}

::-webkit-scrollbar-corner {
  @apply bg-ctp-crust/50;
}

::-webkit-scrollbar-thumb {
  @apply bg-ctp-surface0;
}

.os-scrollbar {
  --os-size: 8px !important;
  --os-handle-bg: #282828 !important;
}
